.address {
  border: 1px solid black;
}

.alignRight {
  text-align: right;
}

.loaderIcon {
  margin-right: 7px;
  top: 2px;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}